<section>
    <h1>This is rivalry</h1>

    <ul>
      <%= for friend <- @friends do %>
          <li><%= friend.username %><button class="shout" data-friend-id="<%= friend.id %>">Shout</button></li>
      <% end %>
    </ul>
</section>
